@import 'variables.scss';

.price-cards {
  display: flex;
  height: 770px;
  background: $background-main;
}

.options-list__item {
  padding-left: 59px;
  background-position: 22px;
  background-repeat: no-repeat;
  &_green {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
  }
  &_blue {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
  }
  &_orange {
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
  }
}
.order-btn {
  padding: 11px 26px 12px 27px;
  text-align: center;
  font-weight: $font-weight-reg;
  font-size: 14px;
  line-height: 17px;
  color: $font-color-basic;
  border: none;
  border-radius: 20px;
  outline: none;

  &_green {
    background: $background-card-green;
  }
  &_blue {
    background-color: $background-card-blue;
  }
  &_orange {
    background-color: $background-card-orange;
  }
}
