@import 'variables.scss';
.price-card {
  position: relative;
  overflow: hidden;
  width: 380px;
  height: 770px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  &:not(:last-child) {
    margin-right: 18px;
  }
  &__title {
    margin: 33px 0;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 105px;
    font-weight: $font-weight-title;
    font-size: 55px;
    line-height: 67px;

    &_green {
      background-color: $background-card-green;
    }

    &_blue {
      background-color: $background-card-blue;
    }
    &_orange {
      background-color: $background-card-orange;
    }
  }
  &__description {
    display: flex;
    height: 116px;
    padding: 40px 26px;
    text-align: center;
    font-weight: $font-weight-small;
    font-size: $font-size-regular;
    line-height: 18px;
    color: $font-color-basic;
    background-color: $background-card-prime;
  }
  &__order-btn {
    padding: 40px 113px;
  }
}

.price-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 33px 0;
  overflow: hidden;
  background: #334247;
  &__title {
    text-align: center;
    font-size: $font-size-title;
    line-height: 43px;
    font-weight: $font-weight-title;
  }
  &__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    font-weight: $font-weight-reg;
    letter-spacing: 0px;
  }
}

.popular {
  position: absolute;
  top: 3%;
  left: 70%;
  transform: rotate(45deg);
  width: 147px;
  height: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-title;
  font-size: 14px;
  line-height: 25px;
  color: $font-color-basic;
  background: $background-popular;
}

.options-list {
  list-style: none;
  &__item {
    padding: 16px 22px;
    height: 50px;
    font-weight: $font-weight-small;
    font-size: $font-size-regular;
    line-height: 18px;
    &:nth-child(even) {
      background-color: $background-card-prime;
    }
    &:nth-child(odd) {
      background-color: $background-card-second;
    }
    & img {
      margin-right: 22px;
    }
  }
}
