@import 'variables.scss';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.price-tables {
    width: 1440px;
    height: 1000px;
    background-color: #141b1c;
    padding: 115px 132px;
}

.price-cards {
    width: 1202px;
    height: 770px;
    background: $background-main;
    margin: 115px auto;
}

.price-card {
    width: 398px;
    height: 770px;
    display: inline-block;
    color: $font-color;
    padding: 0 9px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    &__title {
        text-align: center;
        background: #334247;
    }
    &__heder {
        padding: 33px;
        position: relative;
        overflow: hidden;
    }
    &__price {
        height: 105px;
        font-size: 67px;
        line-height: 105px;
        text-align: center;
        background-color: $background-card-green;
        &_blue {
            background-color: $background-card-blue;
        }
        &_orange {
            background-color: $background-card-orange;
        }
    }
    &__description {
        font-weight: $font-weight-small;
        font-size: $font-size-regular;
        line-height: 18px;
        color: $font-color-basic;
        text-align: center;
        padding: 40px 26px;
        background-color: $background-card-prime;
    }
    &__order-btn {
        padding: 40px 113px;
        background: $background-card-prime;
    }
}

.price-title {
    font-size: $font-size-title;
    line-height: 43px;
    text-align: center;
    font-weight: $font-weight-title;
    background: $background-card-prime;
    margin: 0;
    &__subtitle {
        font-size: $font-size-sub-4;
        line-height: 24px;
        font-weight: $font-weight-title;
        background: $background-card-prime;
    }
}

.popular {
    height: 147px;
    width: 25px;
    position: absolute;
    top: -13%;
    left: 87%;
    background: #dc3f45 $background-popular;
    transform: rotate(-45deg);
    &__text {
        font-weight: $font-weight-title;
        font-size: $font-size-regular-1;
        line-height: 17px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        transform: rotate(90deg);
    }
}

.options-list {
    list-style: none;
    &__item {
        height: 50px;
        padding: 16px 22px;
        font-weight: $font-weight-small;
        font-size: $font-size-regular;
        line-height: 18px;
        &:nth-child(even) {
            background-color: $background-card-prime;
        }
        &:nth-child(odd) {
            background-color: $background-card-second;
        }
        & img {
            margin-right: 22px;
        }
    }
}

.order-btn {
    font-weight: $font-weight-reg;
    font-size: $font-size-regular-1;
    line-height: 17px;
    text-align: center;
    color: $font-color-basic;
    background: $background-card-green;
    border-radius: 20px;
    padding: 11px 26px 12px 27px;
    border: none;
    outline: none;
    &_blue {
        background-color: $background-card-blue;
    }
    &_orange {
        background-color: $background-card-orange;
    }
}