$font-family-basic: 'Montserrat',
sans-serif;
$font-color-basic: #fff;
$font-size-regular: 15px;
$font-size-title: 35px;
$font-size-sub: 24px;
$font-weight-title: 700;
$font-weight-reg: 400;
$font-weight-small: 300;
$background-main: #141b1c;
$background-card-second: #2a3438;
$background-card-prime: #334247;
$background-card-green: #5bb189;
$background-card-blue: #3a6ba5;
$background-card-orange: #ec632a;
$background-popular: #dc3f45;